<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Teste</servlet-name>
        <servlet-class>TesteUtil.Teste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirEmpresa</servlet-name>
        <servlet-class>com.silvio.operacoes.InserirEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCandidato</servlet-name>
        <servlet-class>com.silvio.operacoes.InserirCandidato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirAcesso</servlet-name>
        <servlet-class>com.silvio.operacoes.InserirAcesso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirVaga</servlet-name>
        <servlet-class>com.silvio.operacoes.InserirVaga</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Teste</servlet-name>
        <url-pattern>/Teste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirEmpresa</servlet-name>
        <url-pattern>/InserirEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCandidato</servlet-name>
        <url-pattern>/InserirCandidato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirAcesso</servlet-name>
        <url-pattern>/InserirAcesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirVaga</servlet-name>
        <url-pattern>/InserirVaga</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
